*{
    text-align: center;
}
.container{
    margin-top: 100px;
}
.input_space{
    margin-bottom: 10px;
}
input{
    height: 30px;
    width: 20%;
    font-size: 18px;
}
button{
    height: 30px;
    width: 15%;
    border: none;
}
.logout{
    font-size: 18px;
    font-weight: 400;
    width: 25%;
    background-color: white;
}
.homepage_bg{
    background: url(https://cs14.pikabu.ru/post_img/2022/07/05/3/1656993481287136957.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
}
.sign_button{
    margin-right: 20px;
    font-size: 18px;
}
.login_button{
    font-size: 18px;
}
.homepage-box{
    border-radius: 15px;
    width: 300px;
    max-height: 600px;
    padding: 30px 20px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.username{
    font-size: 18px;
}
.username_span{
    font-size: 30px;
}